@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 900px;
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.container header {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: inherit;
    max-height: 400px;
    user-select: none;
  }
}

.title-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid #e8af1e;
}

.title-area h1 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--form-control-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-size-adjust: auto;
  font-size: 2em;
  align-self: center;
  justify-self: center;
  user-select: none;
}

.commands-btn {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #b8b6b6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  font-size: 0.8rem;
  cursor: pointer;
  width: 100px;
  height: 50px;
  align-self: center;
  justify-self: center;
}

label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  margin: 10px;
}

.input-search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.span-radio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-search {
  -webkit-text-stroke-color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 510px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

input[type="radio"] {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  appearance: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 33px;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  gap: 10px;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  align-self: center;
  justify-content: center;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

hr {
  border: 2px solid #e8af1e;
}

.search-btn {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #e8af1e;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  cursor: pointer;
}

footer {
  display: flex;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  font-style: normal;
  font-size: 20px;
  justify-content: center;
  user-select: none;
}

footer img {
  width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  user-select: none;
}
