@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --form-control-color: #cb1ee8;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

header img {
  width: 50vw;
  margin: 0;
  padding: 0;
}

.span-h1 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--form-control-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-size-adjust: auto;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.span-h1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 5vw;
}

label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  margin: 10px;
}

.input-search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 15px;
  gap: 60px;
  padding-bottom: 15px;
  margin: 10px;
  width: 100vw;
}

.span-radio-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-search {
  -webkit-text-stroke-color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 510px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

input[type="radio"] {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  appearance: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 33px;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  gap: 10px;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  align-self: center;
  justify-content: center;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.search-btn {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #e8af1e;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  cursor: pointer;
  margin: auto;
}

.commands-btn-area {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 10px;
  padding-right: 20px;
}

.commands-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #b8b6b6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  font-size: 0.8vw;
  cursor: pointer;
  z-index: 99;
  margin-right: 20vw;
}

footer {
  display: flex;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  font-style: normal;
  font-size: 30px;
  justify-content: center;
  user-select: none;
}

footer img {
  width: 30px;
  padding-left: 5px;
  padding-right: 5px;
  user-select: none;
}

@media only screen and (max-width: 950px) {
  header img {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    margin-top: 0;
    padding: 0;
  }
  .input-search-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .commands-btn-area {
    display: flex;
    align-items: flex-end;
  }
  .input-search {
    width: 210px;
    height: 50px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    margin-top: 0;
    padding: 0;
  }
  .input-search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .commands-btn-area {
    display: flex;
    align-items: flex-end;
  }
  .input-search {
    width: 210px;
    height: 50px;
  }
}

@media only screen and (max-width: 400px) {
  header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    margin-top: 0;
    padding: 0;
  }
  .input-search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .commands-btn-area {
    display: flex;
    align-items: flex-end;
  }
  .input-search {
    width: 210px;
    height: 50px;
  }
  .commands-btn {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #b8b6b6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    font-size: 1vw;
    cursor: pointer;
    z-index: 99;
    font-size: 12px;
  }
  footer {
    display: flex;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    -webkit-text-stroke-width: 1px;
    font-style: normal;
    font-size: 20px;
    justify-content: center;
    user-select: none;
  }
}
